name: Deploy yard to Pages

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    uses: sue445/workflows/.github/workflows/pages-yard.yml@main
    secrets:
      slack-webhook: ${{ secrets.SLACK_WEBHOOK }}
    with:
      before-command: |
        sudo apt-get update
        sudo apt-get install -y libgda-5.0
